.section-contacto {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}

.formulario-contacto {
    width: 100%;
    max-width: 700px;
    border: 1px solid #444;
    border-radius: 8px;
    padding: 30px;
    background-color: #111;
}

.campo-formulario {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

.campo-formulario label {
    margin-bottom: 8px;
    color: #ffe81f;
    font-weight: bold;
}

.campo-formulario input,
.campo-formulario textarea {
    padding: 12px;
    border: 1px solid #555;
    border-radius: 5px;
    background-color: #222;
    color: white;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
}


.campo-formulario input:focus,
.campo-formulario textarea:focus {
    outline: none;
    border-color: #00bfff;
}

.boton-contacto {
    display: block;
    margin: 25px auto 0;
    padding: 12px 28px;
    border: 1px solid #ffe81f;
    border-radius: 6px;
    background-color: transparent;
    color: #ffe81f;
    font-weight: bold;
    text-transform: uppercase;
    cursor: pointer;
}

.boton-contacto:hover {
    background-color: #ffe81f;
    color: black;
}